@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap');
body {
  margin: 0;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  
  background: rgb(0,36,36);
  background: linear-gradient(90deg, rgba(0,36,36,1) 0%, rgba(9,121,84,0.9920343137254902) 45%, rgba(0,255,179,1) 100%);
}

